<!DOCTYPE html>
<html lang="en">

<style type="text/css">
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.submenu li {
  display: block;
  margin: 0;
}

.submenu li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #f5f5f5;
}

</style>
<head>
  <script type="text/javascript">
$(document).ready(function() {
  $.ajax({
    type: "GET",
    url: "{% url 'comui:menu_list' %}",
    dataType: 'json',
    success: function(data) {
      alert('aaaaaa');
    },
    error: function(request, status, error) {
      alert("code: " + request.status + "\n" + "message: " + request.responseText + "\n" + "error: " + error);
    },
    complete: function(status) {
      alert('cccccc');
    }
  });
});

  </script>
    <meta charset="UTF-8">
    <nav>
      <ul id="menu"></ul>
    </nav>
</head>
<body>

</body>
</html>